.mclass{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
.thumbnailrow{
    position: relative;
   
}
.thumbnails{
    width: 300px;
    border-radius: 5px;
    
}
.time{
    position: absolute;
    background-color: black;
    bottom: 10px;
    right: 3px;
    color: white;
    padding-left: 4px;
    padding-right: 4px;
    
    font-family: Roboto,Arial;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
}
.vidclass{
    width: 300px;
    margin: 10px;

    display: inline-block;
    vertical-align: top;
    
}  

.video-info-grid{
    display: grid;
    grid-template-columns: 40px 1fr;
}


.pfppic{
    width: 100%;
    border-radius: 60px;
}
.vidtitle{
    margin-top: 0%;
    font-size: 14px;
    font-weight: 500;
}
.vidchan,.vidstat{
    
    font-size: 12px;
   color: rgb(94, 96, 96);
   font-weight: 500;

}
.vidchan{
    margin-top: 13px;
margin-bottom: 5px;
}


.thumbnailrow{
    margin-bottom: 10px;
}